[global]
    format = "<span foreground='#{{base0D}}'><big>󰂚</big></span> <b>%s</b>\n%b"

[urgency_low]
    background = "#{{base00}}{{opacity-x}}"
    foreground = "#{{base05}}"
    frame_color = "#{{base0D}}"

[urgency_normal]
    background = "#{{base00}}{{opacity-x}}"
    foreground = "#{{base05}}" 
    frame_color = "#{{base0D}}"

[urgency_critical]
    background = "#{{base00}}{{opacity-x}}"
    foreground = "#{{base05}}"
    frame_color = "#{{base0D}}"

