* {
    background: #{{base00}}{{opacity-x}};
    backgroundAdditional: #{{base02}}17;
    background-alt: #00000000;
    foreground: #{{base05}};
    selected: @backgroundAdditional;
}

element-text {
    highlight: #{{base0E}};
}

element selected {
	text-color: #{{base0D}};
}

window {
    border-color: #{{base0D}}; 
}
