general {
    hide_cursor = true
    grace = 0     
}

animations {

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05
    animation = fade, 1, 2, myBezier
}

background {
    monitor =
    path = $HOME/.config/wallpaper.png

    blur_passes = 3 # 0 disables blurring
    blur_size = 5
}

input-field {
    monitor =
    size = 200, 30
    outline_thickness = 0
    dots_size = 0.25 # Scale of input-field height, 0.2 - 0.8
    dots_spacing = 0.55 # Scale of dots' absolute size, 0.0 - 1.0
    dots_center = true
    dots_rounding = -1
    outer_color = rgba(0,0,0,0)
    inner_color = rgba(0,0,0,0)
    font_color = rgb({{base05}})
    fade_on_empty = false
    placeholder_text = 
    hide_input = false
    check_color = rgba(0,0,0,0)
    fail_color = rgba(0,0,0,0)
    fail_text =
    fail_transition = 300 
    capslock_color = rgba(0,0,0,0)
    numlock_color = -1
    bothlock_color = -1
    invert_numlock = false 
    swap_font_color = false
    position = 0, -470
    halign = center
}

label {
    monitor =
    text = cmd[update:1000] echo "$(date +"%A, %B %d")"
    color = rgb({{base05}})
    font_size = 20
    font_family = VictorMono NF Bold
    position = 0, 200
    halign = center
    valign = center
}

label {
    monitor = 
    text = cmd[update:1000] echo "$(date +"%H:%M:%S")"
    color = rgb({{base05}})
    font_size = 93
    font_family = VictorMono NF Bold
    position = 0, 300
    halign = center
    valign = center
}

label {
    monitor =
    text = Enter Password
    color = rgb({{base05}})
    font_size = 12
    font_family = VictorMono NF Italic
    position = 0, -440
    halign = center
    valign = center
}
