monitor = eDP-1,preferred,auto,1.33
monitor = DP-1,2560x1440@144,1080x300,1, bitdepth, 10

monitor = DP-2,1920x1080@165,0x0,1, bitdepth, 10
monitor = DP-2,transform,1

monitor = HDMI-A-1,1920x1080@60,auto,1,mirror,DP-1
# monitor = HDMI-A-1,disable

$TERM = kitty
env = TERM,$TERM

exec-once = hyprlock

env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_DESKTOP,Hyprland
exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
exec-once = hyprctl setcursor capitaine-cursors 24

exec-once = hypridle
exec-once = work2d init
exec = /home/mrb/.config/hypr/scripts/init.nu

workspace = special:dash, on-created-empty:$TERM zellij -l dash
workspace = special:sys, on-created-empty:$TERM btm
workspace = 98432, monitor: DP-2

input {
    kb_layout = us
    kb_options = caps:swapescape
    repeat_delay = 200
    repeat_rate = 50
    force_no_accel = true 
    follow_mouse = 1

    touchpad {
        natural_scroll = false
    }

    tablet {
        left_handed = true
        region_size = 2532 1412
        region_position = 1094 314
    }
}

general {
    gaps_in = 7
    gaps_out = 14
    border_size = 2
    layout = dwindle
    col.inactive_border = 0xff{{base02}}
    col.active_border = 0xff{{base0E}} 0xff{{base0D}} 0xff{{base0D}} 145deg     
}

decoration {
    active_opacity = 1
    inactive_opacity = 1
    fullscreen_opacity = 1
    dim_inactive = true
    dim_strength = 0.1
    rounding = 13

    blur {
        enabled = yes
        size = 5
        passes = 3
        new_optimizations = on
    }

    shadow {
        enabled = true
        range = 7
        render_power = 3
        offset = 1 1
        color = rgba(000000bb)
    }
}

animations {
    enabled = yes
    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 2, myBezier
    animation = windowsOut, 1, 2, default, popin
    animation = fade, 1, 2, default
    animation = workspaces, 1, 2, default, slidevert 
    animation = specialWorkspace, 1, 2, default, fade 
    animation = border, 1, 2, default
    animation = borderangle, 1, 5, default
}

misc {
    disable_hyprland_logo = true
    disable_splash_rendering = true
    disable_autoreload = true
    vfr = true
    #vrr = 2
    # render_ahead_of_time = true
    new_window_takes_over_fullscreen = 1
    mouse_move_enables_dpms = true
    key_press_enables_dpms = true
    animate_manual_resizes = true
    initial_workspace_tracking = 0
}

gestures {
    workspace_swipe = off
}

dwindle {
    
}

ecosystem {
    no_donation_nag = true
}

render {
    direct_scanout = true
}

experimental {
    # wide_color_gamut = true
    # hdr = true
    # xx_color_management_v4 = true
}

source = /home/mrb/.config/hypr/binds.conf

layerrule = blur, notifications
layerrule = ignorezero, notifications
layerrule = dimaround, notifications
layerrule = blur, rofi
layerrule = ignorezero, rofi
layerrule = dimaround, rofi

windowrulev2 = fullscreen,class:(gamescope)
windowrulev2 = idleinhibit fullscreen,class:(gamescope)

windowrulev2 = bordercolor 0xff{{base0B}} 0xff{{base0D}} 0xff{{base0D}} 145deg, onworkspace:name:special:dash 
windowrulev2 = bordercolor 0xff{{base0B}} 0xff{{base0D}} 0xff{{base0D}} 145deg, onworkspace:name:special:sys 
windowrulev2 = bordercolor 0x00000000 0deg 0xff{{base0B}} 0xff{{base0D}} 0xff{{base0D}} 145deg, class:work2d
windowrulev2 = float, class:work2d
windowrulev2 = size 675 635, class:work2d
windowrulev2 = center, class:work2d
windowrulev2 = nofocus, class:work2d
windowrulev2 = nodim, class:work2d
windowrulev2 = dimaround, class:work2d
windowrulev2 = pin, class:work2d
