html {
	margin: 0;
	padding: 0;
}

:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    
    --dshadow: #1f232b;
    --lshadow: #545f75;

    --radius: 10px;
    --blur: 4px;
    --depth: 2px;
}

body {
    font-family: 'Recursive';
    --mono: "MONO" 1;
    --casl: "CASL" 0;
    --wght: "wght" 500;
    --slnt: "slnt" 0;
    --CRSV: "CRSV" 0;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
	font-size: 17px;
	line-height: 1.6;
	padding: 7% 16px 0 16px;
	margin: 0 auto;
	max-width: 700px;
	background: #fff;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	background-image: linear-gradient(146deg, var(--nord1) 0%, var(--nord0) 100%);
}

div.foot {
	font-size: 80%;
	padding: 0em 0 0em 0;
	color: var(--nord3);
	text-align: center;
    --mono: "MONO" 1;
    --casl: "CASL" 0;
    --wght: "wght" 500;
    --slnt: "slnt" 0;
    --CRSV: "CRSV" 1;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}

div.head {
	border-radius: 1em;
	display: flex;
	justify-content: space-between;
}

div.head, div.content {
	padding: 1em 2em 1em 2em;
	margin-bottom: 2em;
    color: var(--nord4);
    background-color: var(--nord1);
    border-radius: var(--radius);
    border: 0;
    box-shadow: var(--depth) var(--depth) var(--blur) var(--dshadow), 
             calc(var(--depth) * -1) calc(var(--depth) * -1) var(--blur) var(--lshadow);       
}

div.menu a {
	margin-left: 1.5em;
}

div.logo {
    color: var(--nord15);
    --mono: "MONO" 1;
    --casl: "CASL" 0;
    --wght: "wght" 500;
    --slnt: "slnt" 0;
    --CRSV: "CRSV" 1;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
	text-shadow: 0px 0px 0.5em var(--nord15);
}

a {
	color: var(--nord9);
	text-decoration: none;
	outline: 0;
    --mono: "MONO" 1;
    --casl: "CASL" 0;
    --wght: "wght" 500;
    --slnt: "slnt" -10;
    --CRSV: "CRSV" 0;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
	
}

a:hover {
	color: var(--nord8);
	text-shadow: 0px 0px 0.5em var(--nord8);
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0.5em 0 0.5em 0;
	word-wrap: break-word;
}

h1 {
	font-size: 1.25em;
    margin-top: 0.25em;
	padding: 0px;
    color: var(--nord6);
    --mono: "MONO" 1;
    --casl: "CASL" 0;
    --wght: "wght" 700;
    --slnt: "slnt" 0;
    --CRSV: "CRSV" 0;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}
