$env.base00 = "#{{base00}}" 
$env.base01 = "#{{base01}}" 
$env.base02 = "#{{base02}}" 
$env.base03 = "#{{base03}}" 
$env.base04 = "#{{base04}}" 
$env.base05 = "#{{base05}}" 
$env.base06 = "#{{base06}}" 
$env.base07 = "#{{base07}}" 
$env.base08 = "#{{base08}}" 
$env.base09 = "#{{base09}}" 
$env.base0a = "#{{base0A}}" 
$env.base0b = "#{{base0B}}" 
$env.base0c = "#{{base0C}}" 
$env.base0d = "#{{base0D}}" 
$env.base0e = "#{{base0E}}" 
$env.base0f = "#{{base0F}}" 
